@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  */
body{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    flex-direction: column;
}
#logo{
    width: 20vw;
}
h1{
    color: aliceblue;
    font-family: "Protest Guerrilla", sans-serif;
}
#name{
    color:rgb(207, 70, 248);
    font-size: 60px;
}
#va{
    color:rgb(6, 244, 244);
    font-size: 60px; 
}
#voice{
    width: 200px;
    display: none;
   
}

#btn{
width: 50%;
background: linear-gradient(to right,rgb(93, 184, 202),rgb(239, 89, 241));
padding: 10px;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
font-size: 50px;
border-radius: 20px;
color: white;
box-shadow: 2px 2px 10px rgb(21, 145, 207),2px 2px 10px rgb(201, 41, 116);
border: none;
transition: all 0.5s;
cursor: pointer;
}
#btn:hover{
    box-shadow: 2px 2px 20px rgb(21, 145, 207),2px 2px 20px rgb(201, 41, 116);
    letter-spacing: 2px;
}
